@import "tailwindcss";

.font-space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.bggreen {
    background-color: #136450;
}
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.txtgreen {
    color: #136450;
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

*::selection {
    background-color: #136450;
    color: #ffffff;
}
input:focus {
    outline: none;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}